<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
  <title>Spring Fundamentos - Detalhes do Clientes</title>
</head>
<body>
  <main class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Detalhes do Clientes</h1>
          <a th:href="@{/cliente}" class="btn btn-primary">Voltar</a>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-12">

        <div class="card">
          <h5 class="card-header" th:text="${cliente.nome}"></h5>
          <div class="card-body">
            <p>Profissão: <span th:text="${cliente.profession}"></span></p>
            <p>Data de Nascimento: <span th:text="${cliente.dateBirth}"></span></p>
          </div>
          <div class="card-footer text-end">
            <a
              th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
              class="btn btn-warning"
            >Editar</a>
            <a
              th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
              class="btn btn-danger"
              onclick="return confirm('Tem certeza que deseja excluir o cliente?')"
            >Excluir</a>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>
</html>