<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Fundamentos</title>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ClientsApp</a>
    </div>
  </nav>

  <main class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello Webdzion!</h1>
      </div>
    </div>
  </main>

  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>